<section class="content">
  <div class="row">
    <%= render partial: 'form_list' %>
  </div>
  <div class="row">
    <div class="col-12">
      <a href="#" class="btn btn-secondary">Cancel</a>
      <input type="submit" value="Create new Porject" class="btn btn-success float-right">
    </div>
  </div>
</section>