<table class="table" id="book-lists-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @list.book_lists.map do |book_list| %>
    <tr>
      <td><%= book_list.title %></td>
      <td><%= book_list.author.name %></td>
      <td class="text-right py-0 align-middle">
        <%= render partial: 'book_lists/actions', locals: { book_list: book_list } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>