<div class="card card-gray bg-dark-opacity-8" >
  <div class="card-header">
    <h3 class="card-title text-white">About Me</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <strong><i class="fas fa-book mr-1 text-yellow"></i> Books Added</strong>
    <p class="text-muted"><%= books_added_info(@user)%></p>
    <hr>

    <strong><i class="fas fa-book-open mr-1 text-blue"></i>Books read so far</strong>
    <p class="text-muted"><%= "#{@user.user_books.by_book_status(2).size} books!"%></p>
    <hr>

    <strong><i class="fas fa-tags mr-1 text-green"></i> Interests</strong>
    <p class="text-muted">
      <span class="badge bg-fuchsia">Russian Literature</span>
      <span class="badge bg-success">Romance</span>
      <span class="badge bg-navy">Biography</span>
      <span class="badge bg-warning">Horror</span>
      <span class="badge bg-primary">Poetry</span>
      <span class="badge bg-red">Modern Classic</span>
    </p>
    <hr>

    <strong><i class="fas fa-power-off mr-1 text-red"></i>
      <%= link_to 'Log Out', logout_path, method: :delete, class: 'text-white' %>
    </strong>
    <p class="text-muted">Finish your session.</p>
  </div>
  <!-- /.card-body -->
</div>