<div class="card card-olive opacity-8" >
  <div class="card-header">
    <h3 class="card-title text-white">About Me</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <strong><i class="fas fa-book mr-1"></i> Books Added</strong>

    <p class="text-muted">
      You haven't created any book lists yet.
    </p>

    <hr>

    <strong><i class="fas fa-map-marker-alt mr-1"></i>Books read so far</strong>

    <p class="text-muted">0  books!</p>

    <hr>

    <strong><i class="fas fa-pencil-alt mr-1"></i>Total Lists</strong>

    <p class="text-muted">
      <span class="tag tag-danger">UI Design</span>
      <span class="tag tag-success">Coding</span>
      <span class="tag tag-info">Javascript</span>
      <span class="tag tag-warning">PHP</span>
      <span class="tag tag-primary">Node.js</span>
    </p>

    <hr>

    <strong><i class="far fa-file-alt mr-1"></i>Interests</strong>

    <p class="text-muted">No books or authors added.</p>
  </div>
  <!-- /.card-body -->
</div>