<div class="jumbotron-centered pt-3">
  <div class="container">
    <h1 class="display-5 text-center bg-yellow">All you reading lists, in one place.</h1>
    <p class="text-muted text-sm-right">
      BookLog is a place to store reading books in lists you can edit anytime.
      Manage past and current readings, or create lists for your future books.
      Save it all filtering by authors, or create custom-themed lists.
    </p>
    <%= render partial: 'login'%>
  </div>
</div>



