<!DOCTYPE html>
<html>
  <head>
  </head>
  <body >
    <% if current_user %>
      <h1>All your reading lists, in one place.</h1>
    <% else %>
      <div>
        <h1>All your reading lists, in one place.</h1>
        <div class="about-text">
          <p>BookLog is a place to store reading books in lists you can edit anytime.
             Manage past and currrent readings, or create lists for your future books.
             Save it all filtering by authors, or create custom-themed lists.</p>
        </div>
      </div>
      <%= render partial: 'users/login'%>
    <% end %>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
