<div class="jumbotron-centered">
  <div class="container">
    <h1 class="display-5 text-center">All your reading lists, in one place.</h1>
    <br><br><br><br>
    <p class="text-muted text-sm-left about-text">
      BookLog is a place to store reading books in lists you can edit anytime.
      Manage past and current readings, or create lists for your future books.
      Save it all filtering by authors, or create custom-themed lists.
    </p>
    <%= render partial: 'login'%>
  </div>
</div>



