<header>
  <div>
    <p class="text-center h1">
      All your reading lists, in one place.
    </p>
  </div>
</header>
<!--  <div class="jumbotron-centered">-->
<div class="container">
  <br><br><br><br>
  <%= render partial: 'home/login'%>
</div>
<p class="text-muted align-center about-text">
  BookLog is a place to store reading books in lists you can edit anytime.
  Manage past and current readings, or create lists for your future books.
  Save it all filtering by authors, or create custom-themed lists.
</p>
<!--  </div>-->

