<section class="content user_book_new-content">
  <h2 class="text-white">Add Books to List</h2>
  <p class="text-small text-gray">
    <%= @list.name %>
    <%= link_to 'Back to edit list', edit_list_path(@list), class: 'btn btn-info btn-xs'%>
  </p>
  <div class="row mr-1 ml-1">
    <div class="col-md-6 text-white">
      <%= render partial: 'book_lists/add_books_list' %>
    </div>
    <%= render partial: 'book_lists/added_books_list',
                 locals: { list: @list } if @list.book_lists.any? %>
  </div>
</section>
