// Place all the styles related to the home controller here.
// They will automatically be included in application.stylesheets.
// You can use Sass (SCSS) here: https://sass-lang.com/
.image-background {
background: url('book_background.jpeg') no-repeat center center;
background-size: cover;
height: 600px;}

h1 {
  background-color: rgba(234, 230, 226, 0.9);
}

.about-text {
  background-color: rgba(234, 230, 226, 0.9);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 170px;
  height: 40%;
  width: 20%;
  position: fixed;
}

.custom-card-body {
  background-color: rgba(223, 219, 216, 0.8);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  height: 70%;
  width: 30%;
  display: flex!important;
  flex-direction: column;
  justify-content: center!important;
  box-shadow: 0 0 15px 9px #00000096;
}

.sign-in-up-form {
  z-index: 1;
  transition:0.3s ease-in-out;
  color:#343a40;
  text-align:center;
  padding:50px;
}

.sign-in-up-form input[type="text"], .sign-in-up-form input[type="password"] {
  width: 100%;
  display: block;
  margin:20px 0;
  padding: 15px;
  background-color: #eae6e2;
  border: 1px solid #b5b5b5;
  outline: none;
}
.sign-in-up-form button {
  max-width: 300px;
  width: 100%;
  background: #343a40;
  color: #eae6e2;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  float:right;
  cursor:pointer;
}

.sign-in-up-form a{
  display:inline-block;
  padding:10px 0;
  font-size: small;
  color: #2A3038;
}